.custom-bg {
    background: #bbb95b;
}

.custom-bg-soft {
    background: rgb(187 185 91 / 40%);
}
.sub_address {
    position: relative;
    display: inline-block;
}
.sub_address::after {
    content: '';
    position: absolute;
    height: 2px;
    right: 0;
    bottom: -9px;
    width: 50%;
    background: #b9b75a;
}
